<!-- this is a partial!!! -->
<div style="color: grey;">
    {# <div>
        <a href="/messages/{{ key }}"> {{ message.message }} </a>
    </div> #}
    {% if date(message.created) < date('-1year') %}
        Older than one year
    {% else %}
        {{ message.created|date('d/m/Y')}}
    {% endif %}
</div>
