{% extends 'base.html.twig' %}

{% block body %}
<div>
The index twig says: </br>
    {% if messages|length > 0 %}
        {% for message in messages|slice(0, limit) %}
            <div>{{ message.message }}</div>
            {{ include('hello/_message.html.twig')}}    
        {% endfor %}
    {% else %}
        nothing to see 
    {% endif %}
</div>
{% endblock %}
